<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462217180969-e8rs2vu7b5hsjmbd9bdnd3t1kfbfceib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462217180969-e8rs2vu7b5hsjmbd9bdnd3t1kfbfceib</string>
	<key>API_KEY</key>
	<string>AIzaSyDoehlvVvtdRf1Srth_weRnjCvOlEsEgVs</string>
	<key>GCM_SENDER_ID</key>
	<string>462217180969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yang.RemoteNotificationSampleApp</string>
	<key>PROJECT_ID</key>
	<string>remote-notification-samp-1922d</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-notification-samp-1922d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462217180969:ios:7d4e7010adef42c4f5a938</string>
</dict>
</plist>